In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Inflation_data.csv"
df_inf = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_inf.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%)
Date,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25

In [12]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Selected_Food_Price.csv"

df_selected = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df.head()

,"Agric hen eggs, (a Crate of 30 pieces)",Beans Brown,"Bread (sliced), 450g",Chicken meat (Frozen),Garri white,Maize (Corn) Grains (White) sold loose,"Onions, fresh","Palm oil, 75cl","Rice Local, short-Grained",Rice Long-Grained (Imported),"Tomatoes, fresh","Vegetable Oil, 75cl",Yam Tuber,Sweet potatoes
Date,,,,,,,,,,,,,,
2017-01-31,"1,422.54",353.6,270.25,1419.75,219.56,167.11,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43
2017-02-28,"1,287.11",337.11,264.86,1428.95,260.94,172.86,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23
2017-03-31,"1,317.83",353.28,262.33,1555.51,273.67,174.03,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94
2017-04-30,"1,386.54",357.19,277.69,1606.63,288.45,182.94,205.6,452.42,299.3,388.46,285.72,525.72,250.3,132.43
2017-05-31,"1,372.05",365.86,282.26,1605.97,292.97,188.9,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28

In [13]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/PMS%20Price.csv"
df_pms = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_pms.head()

           PMS Price
Date
2017-01-31     148.7
2017-02-28     149.8
2017-03-31    149.39
2017-04-30    149.87
2017-05-31    150.69

In [14]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Exchange%20rate.csv"
df_exchange = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_exchange.head()

            ifemDollar
Date
2017-01-31      305.20
2017-02-28      305.31
2017-03-31      306.40
2017-04-30      306.05
2017-05-31      305.54