In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Inflation_data.csv"
df_inf = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_inf.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%)
Date,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25

In [4]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Selected_Food_Price.csv"

df = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%),PMS Price,ifemDollar,"Agric hen eggs, (a Crate of 30 pieces)",Beans Brown,...,Garri white,Maize (Corn) Grains (White) sold loose,"Onions, fresh","Palm oil, 75cl","Rice Local, short-Grained",Rice Long-Grained (Imported),"Tomatoes, fresh","Vegetable Oil, 75cl",Yam Tuber,Sweet potatoes
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72,148.70,305.20,"1,422.54",353.6,...,219.56,167.11,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78,149.80,305.31,"1,287.11",337.11,...,260.94,172.86,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26,149.39,306.40,"1,317.83",353.28,...,273.67,174.03,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24,149.87,306.05,"1,386.54",357.19,...,288.45,182.94,205.6,452.42,299.3,388.46,285.72,525.72,250.3,132.43
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25,150.69,305.54,"1,372.05",365.86,...,292.97,188.9,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28

In [5]:
df.index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31',
               ...
               '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31',
               '2025-08-31', '2025-09-30', '2025-10-31', '2025-11-30',
               '2025-12-31', '2026-01-31'],
              dtype='datetime64[ns]', name='Date', length=109, freq=None)

In [6]:
df = df.asfreq(freq="ME")

In [7]:
df.index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31',
               ...
               '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31',
               '2025-08-31', '2025-09-30', '2025-10-31', '2025-11-30',
               '2025-12-31', '2026-01-31'],
              dtype='datetime64[ns]', name='Date', length=109, freq='ME')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109 entries, 2017-01-31 to 2026-01-31
Freq: ME
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   All Items                               109 non-null    float64
 1   All_item_adjusted                       109 non-null    float64
 2   Food                                    109 non-null    object
 3   Food_adjusted                           109 non-null    object
 4   Month-on (%)                            109 non-null    float64
 5   Year-on (%)                             109 non-null    float64
 6   PMS Price                               109 non-null    object
 7   ifemDollar                              109 non-null    float64
 8   Agric hen eggs, (a Crate of 30 pieces)  107 non-null    object
 9   Beans Brown                             107 non-null    object
 10  Bread (sliced), 450g                    106 non-null    object
 11  Chicken meat (Frozen)                   107 non-null    object
 12  Garri white                             107 non-null    object
 13  Maize (Corn) Grains (White) sold loose  107 non-null    object
 14   Onions, fresh                          107 non-null    object
 15  Palm oil, 75cl                          107 non-null    object
 16  Rice Local, short-Grained               107 non-null    object
 17  Rice Long-Grained (Imported)            107 non-null    object
 18  Tomatoes, fresh                         107 non-null    object
 19  Vegetable Oil, 75cl                     107 non-null    object
 20  Yam Tuber                               106 non-null    object
 21  Sweet potatoes                          106 non-null    object
dtypes: float64(5), object(17)
memory usage: 19.6+ KB