In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Inflation_data.csv"
df_inf = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_inf.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%)
Date,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25

In [21]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Selected_Food_Price.csv"

df_selected = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_selected.head()

,"Agric hen eggs, (a Crate of 30 pieces)",Beans Brown,"Bread (sliced), 450g",Chicken meat (Frozen),Garri white,Maize (Corn) Grains (White) sold loose,"Onions, fresh","Palm oil, 75cl","Rice Local, short-Grained",Rice Long-Grained (Imported),"Tomatoes, fresh","Vegetable Oil, 75cl",Yam Tuber,Sweet potatoes
Date,,,,,,,,,,,,,,
2017-01-31,"1,422.54",353.6,270.25,1419.75,219.56,167.11,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43
2017-02-28,"1,287.11",337.11,264.86,1428.95,260.94,172.86,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23
2017-03-31,"1,317.83",353.28,262.33,1555.51,273.67,174.03,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94
2017-04-30,"1,386.54",357.19,277.69,1606.63,288.45,182.94,205.6,452.42,299.3,388.46,285.72,525.72,250.3,132.43
2017-05-31,"1,372.05",365.86,282.26,1605.97,292.97,188.9,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28

In [22]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/PMS%20Price.csv"
df_pms = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_pms.head()

           PMS Price
Date
2017-01-31     148.7
2017-02-28     149.8
2017-03-31    149.39
2017-04-30    149.87
2017-05-31    150.69

In [23]:
url = "https://raw.githubusercontent.com/Sahdam/TS_Academy_Capstone_Project/refs/heads/main/Exchange%20rate.csv"
df_exchange = pd.read_csv(url, parse_dates=["Date"], index_col="Date")
df_exchange.head()

            ifemDollar
Date
2017-01-31      305.20
2017-02-28      305.31
2017-03-31      306.40
2017-04-30      306.05
2017-05-31      305.54

In [24]:
df_exchange.tail()

            ifemDollar
Date
2025-09-30     1503.64
2025-10-31     1465.09
2025-11-30     1444.58
2025-12-31     1452.54
2026-01-31     1419.98

In [25]:
data_1 = pd.merge(df_inf, df_pms, on="Date")
data_1.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%),PMS Price
Date,,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72,148.7
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78,149.8
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26,149.39
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24,149.87
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25,150.69

In [26]:
data_2 = pd.merge(data_1, df_exchange, on="Date")
data_2.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%),PMS Price,ifemDollar
Date,,,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72,148.7,305.20
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78,149.8,305.31
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26,149.39,306.40
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24,149.87,306.05
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25,150.69,305.54

In [27]:
data_final = pd.merge(data_2, df_selected, on="Date")
data_final.head()

,All Items,All_item_adjusted,Food,Food_adjusted,Month-on (%),Year-on (%),PMS Price,ifemDollar,"Agric hen eggs, (a Crate of 30 pieces)",Beans Brown,...,Garri white,Maize (Corn) Grains (White) sold loose,"Onions, fresh","Palm oil, 75cl","Rice Local, short-Grained",Rice Long-Grained (Imported),"Tomatoes, fresh","Vegetable Oil, 75cl",Yam Tuber,Sweet potatoes
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-31,215.7,215.7,221.40,221.40,1.0,18.72,148.7,305.20,"1,422.54",353.6,...,219.56,167.11,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43
2017-02-28,218.9,218.9,225.80,225.80,1.5,17.78,149.8,305.31,"1,287.11",337.11,...,260.94,172.86,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23
2017-03-31,222.7,222.7,230.80,230.80,1.7,17.26,149.39,306.40,"1,317.83",353.28,...,273.67,174.03,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94
2017-04-30,226.3,226.3,235.50,235.50,1.6,17.24,149.87,306.05,"1,386.54",357.19,...,288.45,182.94,205.6,452.42,299.3,388.46,285.72,525.72,250.3,132.43
2017-05-31,230.5,230.5,241.50,241.50,1.9,16.25,150.69,305.54,"1,372.05",365.86,...,292.97,188.9,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28

In [28]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109 entries, 2017-01-31 to 2026-01-31
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   All Items                               109 non-null    float64
 1   All_item_adjusted                       109 non-null    float64
 2   Food                                    109 non-null    object
 3   Food_adjusted                           109 non-null    object
 4   Month-on (%)                            109 non-null    float64
 5   Year-on (%)                             109 non-null    float64
 6   PMS Price                               109 non-null    object
 7   ifemDollar                              109 non-null    float64
 8   Agric hen eggs, (a Crate of 30 pieces)  107 non-null    object
 9   Beans Brown                             107 non-null    object
 10  Bread (sliced), 450g                    106 non-null    object
 11  Chicken meat (Frozen)                   107 non-null    object
 12  Garri white                             107 non-null    object
 13  Maize (Corn) Grains (White) sold loose  107 non-null    object
 14   Onions, fresh                          107 non-null    object
 15  Palm oil, 75cl                          107 non-null    object
 16  Rice Local, short-Grained               107 non-null    object
 17  Rice Long-Grained (Imported)            107 non-null    object
 18  Tomatoes, fresh                         107 non-null    object
 19  Vegetable Oil, 75cl                     107 non-null    object
 20  Yam Tuber                               106 non-null    object
 21  Sweet potatoes                          106 non-null    object
dtypes: float64(5), object(17)
memory usage: 19.6+ KB

In [29]:
data_final.drop(columns=['All Items', 'Food'], inplace=True)

In [30]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109 entries, 2017-01-31 to 2026-01-31
Data columns (total 20 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   All_item_adjusted                       109 non-null    float64
 1   Food_adjusted                           109 non-null    object
 2   Month-on (%)                            109 non-null    float64
 3   Year-on (%)                             109 non-null    float64
 4   PMS Price                               109 non-null    object
 5   ifemDollar                              109 non-null    float64
 6   Agric hen eggs, (a Crate of 30 pieces)  107 non-null    object
 7   Beans Brown                             107 non-null    object
 8   Bread (sliced), 450g                    106 non-null    object
 9   Chicken meat (Frozen)                   107 non-null    object
 10  Garri white                             107 non-null    object
 11  Maize (Corn) Grains (White) sold loose  107 non-null    object
 12   Onions, fresh                          107 non-null    object
 13  Palm oil, 75cl                          107 non-null    object
 14  Rice Local, short-Grained               107 non-null    object
 15  Rice Long-Grained (Imported)            107 non-null    object
 16  Tomatoes, fresh                         107 non-null    object
 17  Vegetable Oil, 75cl                     107 non-null    object
 18  Yam Tuber                               106 non-null    object
 19  Sweet potatoes                          106 non-null    object
dtypes: float64(4), object(16)
memory usage: 17.9+ KB

In [34]:
col_obj = data_final.select_dtypes("object").columns.to_list()
col_obj

['Food_adjusted',
 'PMS Price',
 'Agric hen eggs, (a Crate of 30 pieces)',
 'Beans Brown',
 'Bread (sliced), 450g',
 'Chicken meat (Frozen)',
 'Garri white',
 'Maize (Corn) Grains (White) sold loose',
 ' Onions, fresh ',
 'Palm oil, 75cl',
 'Rice Local, short-Grained',
 'Rice Long-Grained (Imported)',
 'Tomatoes, fresh',
 'Vegetable Oil, 75cl',
 'Yam Tuber',
 'Sweet potatoes']

In [35]:
for i in col_obj:
  data_final[i] = data_final[i].str.replace(",","").astype(float)

In [36]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109 entries, 2017-01-31 to 2026-01-31
Data columns (total 20 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   All_item_adjusted                       109 non-null    float64
 1   Food_adjusted                           109 non-null    float64
 2   Month-on (%)                            109 non-null    float64
 3   Year-on (%)                             109 non-null    float64
 4   PMS Price                               109 non-null    float64
 5   ifemDollar                              109 non-null    float64
 6   Agric hen eggs, (a Crate of 30 pieces)  107 non-null    float64
 7   Beans Brown                             107 non-null    float64
 8   Bread (sliced), 450g                    106 non-null    float64
 9   Chicken meat (Frozen)                   107 non-null    float64
 10  Garri white                             107 non-null    float64
 11  Maize (Corn) Grains (White) sold loose  107 non-null    float64
 12   Onions, fresh                          107 non-null    float64
 13  Palm oil, 75cl                          107 non-null    float64
 14  Rice Local, short-Grained               107 non-null    float64
 15  Rice Long-Grained (Imported)            107 non-null    float64
 16  Tomatoes, fresh                         107 non-null    float64
 17  Vegetable Oil, 75cl                     107 non-null    float64
 18  Yam Tuber                               106 non-null    float64
 19  Sweet potatoes                          106 non-null    float64
dtypes: float64(20)
memory usage: 17.9 KB

In [46]:
inter_col = (data_final.isnull().sum()>0).sort_values(ascending=False).head(14).index.to_list()
inter_col

['Garri white',
 'Maize (Corn) Grains (White) sold loose',
 'Yam Tuber',
 'Vegetable Oil, 75cl',
 'Tomatoes, fresh',
 'Rice Long-Grained (Imported)',
 'Rice Local, short-Grained',
 'Palm oil, 75cl',
 ' Onions, fresh ',
 'Sweet potatoes',
 'Chicken meat (Frozen)',
 'Bread (sliced), 450g',
 'Beans Brown',
 'Agric hen eggs, (a Crate of 30 pieces)']

In [47]:
for i in inter_col:
  data_final[i] = data_final[i].interpolate(method="time")

In [48]:
data_final.isna().sum()

All_item_adjusted                         0
Food_adjusted                             0
Month-on (%)                              0
Year-on (%)                               0
PMS Price                                 0
ifemDollar                                0
Agric hen eggs, (a Crate of 30 pieces)    0
Beans Brown                               0
Bread (sliced), 450g                      0
Chicken meat (Frozen)                     0
Garri white                               0
Maize (Corn) Grains (White) sold loose    0
 Onions, fresh                            0
Palm oil, 75cl                            0
Rice Local, short-Grained                 0
Rice Long-Grained (Imported)              0
Tomatoes, fresh                           0
Vegetable Oil, 75cl                       0
Yam Tuber                                 0
Sweet potatoes                            0
dtype: int64

In [49]:
data_final.rename(columns={
    "All_item_adjusted": "all_cpi",
    "Food_adjusted": "food_cpi",
    "PMS Price": "fuel_price",
    "ifemDollar": "exchange_rate",
    "Agric hen eggs, (a Crate of 30 pieces)":"eggs",
    "Beans Brown": "brown_beans",
    "Bread (sliced), 450g":"bread",
    "Chicken meat (Frozen)":"chicken",
    "Garri white":"garri",
    "Maize (Corn) Grains (White) sold loose":"maize",
    "Onions, fresh": "onion",
    "Palm oil, 75cl":"palm_oil",
    "Rice Local, short-Grained":"local_rice",
    "Rice Long-Grained (Imported)":"foriegn_rice",
    "Tomatoes, fresh":"tomatoes",
    "Vegetable Oil, 75cl":"vegetable_oil",
    "Yam Tuber":"yam",
    "Sweet potatoes":"potatoes"
}, inplace=True)

In [50]:
data_final.head()

,all_cpi,food_cpi,Month-on (%),Year-on (%),fuel_price,exchange_rate,eggs,brown_beans,bread,chicken,garri,maize,"Onions, fresh",palm_oil,local_rice,foriegn_rice,tomatoes,vegetable_oil,yam,potatoes
Date,,,,,,,,,,,,,,,,,,,,
2017-01-31,215.7,221.4,1.0,18.72,148.70,305.20,1422.54,353.60,270.25,1419.75,219.56,167.11,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43
2017-02-28,218.9,225.8,1.5,17.78,149.80,305.31,1287.11,337.11,264.86,1428.95,260.94,172.86,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23
2017-03-31,222.7,230.8,1.7,17.26,149.39,306.40,1317.83,353.28,262.33,1555.51,273.67,174.03,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94
2017-04-30,226.3,235.5,1.6,17.24,149.87,306.05,1386.54,357.19,277.69,1606.63,288.45,182.94,205.60,452.42,299.30,388.46,285.72,525.72,250.30,132.43
2017-05-31,230.5,241.5,1.9,16.25,150.69,305.54,1372.05,365.86,282.26,1605.97,292.97,188.90,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28

In [51]:
data_final.describe()

,all_cpi,food_cpi,Month-on (%),Year-on (%),fuel_price,exchange_rate,eggs,brown_beans,bread,chicken,garri,maize,"Onions, fresh",palm_oil,local_rice,foriegn_rice,tomatoes,vegetable_oil,yam,potatoes
count,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.00000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000
mean,474.776330,562.523853,1.398899,18.861651,379.973028,644.239633,2624.149541,815.742569,602.478211,2869.972477,450.66945,417.540734,553.650642,1018.762294,726.584679,930.169633,574.690092,1240.364771,669.269653,352.432008
std,236.251863,312.692862,0.875203,6.948744,359.169120,483.754894,1923.305727,746.918373,473.149364,1565.750841,359.67944,345.625739,467.462979,716.634913,635.543374,768.313107,442.718933,966.590123,697.519485,306.469702
min,215.700000,221.400000,-2.880000,11.020000,128.880000,305.200000,1151.470000,267.810000,258.700000,1419.750000,145.31000,135.760000,193.560000,420.620000,271.100000,352.830000,203.550000,485.050000,170.850000,111.360000
25%,283.500000,307.400000,1.000000,12.820000,147.330000,306.920000,1265.470000,365.860000,278.610000,1708.640000,214.73000,179.390000,238.650000,477.090000,306.290000,398.010000,278.230000,540.440000,236.900000,141.610000
50%,387.500000,447.200000,1.300000,16.820000,168.060000,411.120000,1581.890000,478.760000,335.670000,2049.660000,305.92000,264.590000,322.080000,635.310000,409.970000,551.570000,357.030000,739.320000,306.870000,191.270000
75%,616.500000,751.400000,1.820000,22.410000,630.630000,779.940000,3118.040000,790.010000,736.680000,3394.090000,520.35000,566.930000,592.800000,1322.550000,819.420000,1016.120000,675.910000,1489.740000,687.680000,403.020000
max,999.520000,1240.450000,3.900000,34.800000,1261.650000,1674.640000,7670.560000,2798.500000,1604.780000,6473.810000,1362.96000,1278.760000,2057.810000,2582.350000,2242.640000,2679.510000,2302.260000,3399.600000,2484.400000,1062.300000

In [56]:
data_final.index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31',
               ...
               '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31',
               '2025-08-31', '2025-09-30', '2025-10-31', '2025-11-30',
               '2025-12-31', '2026-01-31'],
              dtype='datetime64[ns]', name='Date', length=109, freq=None)

In [57]:
data_final = data_final.asfreq(freq="ME")

In [58]:
data_final.index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31',
               ...
               '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31',
               '2025-08-31', '2025-09-30', '2025-10-31', '2025-11-30',
               '2025-12-31', '2026-01-31'],
              dtype='datetime64[ns]', name='Date', length=109, freq='ME')

In [60]:
data_final["food_cpi_mom"] = data_final["food_cpi"].pct_change()*100
data_final.head()

,all_cpi,food_cpi,Month-on (%),Year-on (%),fuel_price,exchange_rate,eggs,brown_beans,bread,chicken,...,maize,"Onions, fresh",palm_oil,local_rice,foriegn_rice,tomatoes,vegetable_oil,yam,potatoes,food_cpi_mom
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-31,215.7,221.4,1.0,18.72,148.70,305.20,1422.54,353.60,270.25,1419.75,...,167.11,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43,NaN
2017-02-28,218.9,225.8,1.5,17.78,149.80,305.31,1287.11,337.11,264.86,1428.95,...,172.86,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23,1.987353
2017-03-31,222.7,230.8,1.7,17.26,149.39,306.40,1317.83,353.28,262.33,1555.51,...,174.03,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94,2.214349
2017-04-30,226.3,235.5,1.6,17.24,149.87,306.05,1386.54,357.19,277.69,1606.63,...,182.94,205.60,452.42,299.30,388.46,285.72,525.72,250.30,132.43,2.036395
2017-05-31,230.5,241.5,1.9,16.25,150.69,305.54,1372.05,365.86,282.26,1605.97,...,188.90,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28,2.547771

In [61]:
data_final['food_cpi_yoy'] = data_final['food_cpi'].pct_change(12)*100
data_final.head()

,all_cpi,food_cpi,Month-on (%),Year-on (%),fuel_price,exchange_rate,eggs,brown_beans,bread,chicken,...,"Onions, fresh",palm_oil,local_rice,foriegn_rice,tomatoes,vegetable_oil,yam,potatoes,food_cpi_mom,food_cpi_yoy
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-31,215.7,221.4,1.0,18.72,148.70,305.20,1422.54,353.60,270.25,1419.75,...,258.92,420.62,286.19,402.01,247.55,495.29,210.58,129.43,NaN,NaN
2017-02-28,218.9,225.8,1.5,17.78,149.80,305.31,1287.11,337.11,264.86,1428.95,...,241.44,434.81,306.29,410.58,236.62,507.36,215.55,127.23,1.987353,NaN
2017-03-31,222.7,230.8,1.7,17.26,149.39,306.40,1317.83,353.28,262.33,1555.51,...,246.95,442.04,308.87,418.71,268.64,513.42,255.86,132.94,2.214349,NaN
2017-04-30,226.3,235.5,1.6,17.24,149.87,306.05,1386.54,357.19,277.69,1606.63,...,205.60,452.42,299.30,388.46,285.72,525.72,250.30,132.43,2.036395,NaN
2017-05-31,230.5,241.5,1.9,16.25,150.69,305.54,1372.05,365.86,282.26,1605.97,...,203.56,458.24,323.82,410.55,339.72,524.77,279.15,130.28,2.547771,NaN